# ====================
# Системные файлы
# ====================
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.swn
thumbs.db
Thumbs.db

# ====================
# Конфигурация окружения
# ====================
.env
!.env.example

# ====================
# Системные директории
# ====================
/logs/*
!/logs/.gitkeep
/cache/*
!/cache/.gitkeep
/upload/*
!/upload/.gitkeep

# ====================
# Артефакты разработки
# ====================
*.log
*.cache
*.tmp
*.bak
*.backup
.vscode/settings.json

# ====================
# Резервные копии
# ====================
*.sql
*.zip
*.tar.gz
!pero.cms.sql